body{
    background-color: #ECECEC;
}
section{
    margin-top: 5%;
    padding: 3%;
    padding-left: 3%;
    padding-right: 3%;
    background-color: #9FD3C7;
    border-radius: 8px;
}

nav.navbar{
    background-color: #142D4C !important;
    
}
a{
    color: #ECECEC !important;
}
a:hover{
    color: #9FD3C7 !important;
}
td>a ,li>a, #contra{
    color: #385170 !important;
}
li>a:hover, td>a:hover, #contra:hover{
    color: #142D4C !important;
}

#adelete{
    color: rgb(173, 0, 0) !important;
}
#adelete:hover{
    color: rgb(255, 0, 0) !important;
}

.editar {
    background-color: #385170 !important;
    color: white !important;
    border: none !important;
}


.editar:hover{
    background-color: #142D4C !important;
}

#tab-login.active, #tab-register.active{
    background-color: #385170 !important;
    color: white !important; 
}
